#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.blog-posts{
  text-align: center;
}

.error-message{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}